@import "tailwindcss";

.dark {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
    color: rgba(249, 250, 251, var(--tw-text-opacity));
  }
  
  .dark .dark\:bg-dark-card {
    background-color: #374151;
    color: white ;
  }
  

